body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
    color: rgb(83, 80, 80);
}
a{
    color: #66bfbf;
    margin: 10px 20px;
    text-decoration: none;
}a:hover{
    color: #eaf6f6;
}
.top-container{
    background-color: #eaf6f6;
    height: auto;
    width: auto;
}
.bottom-cloud{
    position: absolute;
    left: 20%;    
}
.top-cloud{
    margin: 10px;
    position: relative;
    top:30%; left: 20%;
}
.mountain{
    height: 40%;
    width: 40%;
}
.main-title {
    font-size: 375%;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}h2{
    color: #66BFBF;
    text-align: center;
}h3{
    color: #66bfbf;
    text-align: center;
}hr {
    background-color: #ffffff;
    border-style: dotted none none;
    border-width: 6px;
    border-color: #677a7a;
    width: 5%;
}
.skills{
    text-align: left;
    line-height: 2;
    width: 50%;
    margin: 50px auto;
}.skill-row{
    margin: 50px auto; 
}.coding-image{
    width: auto;
    height: 150px;
    float: left;
    margin-right: 20px;
}.chillies-image{
    width: auto;
    height: 150px;
    float: right;
    margin-left: 20px;
}.btn {
    background: #78cfcf;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin: 100px auto;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #669cbd;
    background-image: -webkit-linear-gradient(top, #669cbd, #4c7073);
    background-image: -moz-linear-gradient(top, #669cbd, #4c7073);
    background-image: -ms-linear-gradient(top, #669cbd, #4c7073);
    background-image: -o-linear-gradient(top, #669cbd, #4c7073);
    background-image: linear-gradient(to bottom, #669cbd, #4c7073);
    text-decoration: none;
  }

.bottom-container{
    margin: 50px auto 0 auto;
    background-color: #66bfbf;
    padding-top: 50px;
}.footer-link{
    color: #11999e;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
}
